body{
    background-image: url("../images/kuc.jpg");
    background-size: cover;
    height: 100vh;
}
h2{
    color: #00ffff;
}
h3{
    color: chartreuse;
}
button{
    color: #0000ff;
}
.ul{
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    list-style-type: circle;
}
.ol{
    float: left;
    list-style: decimal;
    
}
.one{
    float: center;
    text-align: center;
    padding-bottom: 80px;
}
.all{
    float: center;

}
#p{
    color: #00ffff;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
#img{
    float: right;
    margin-top: 70px;
}
#img2{
    float: right;
    padding: right;
    
}
table{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid;
    background-color: aqua;
    padding-bottom: 70px;
    margin-bottom: 70px;
    margin-top: 90px;
    width: 124px;
}
tr, td, th {
    border: solid;
    width: 124px;
}
one{
    padding-bottom: 23;
}